
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#title h1 {
    margin-left: 10px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}
input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.grid-3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.conteiner-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.conteiner-grid input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.grid-3x1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#add-row-button {
    background-color: #28a745;
    margin-top: 10px;
}
#add-row-button:hover {
    background-color: #218838;
}
#gerencia {
    width: 200px;
}
#send-button {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
}